1)print()

In [4]:
print("Hello, World!")

Hello, World!

2) If_else statement

In [ ]:
if __name__ == '__main__':
    n = int(input().strip())
if n % 2!= 0:
    print('Weird')
elif n%2 ==0 and 2<=n<=5:
    print('Not Weird')
elif n%2 ==0 and 6<=n<=20:
    print('Weird')
elif n%2==0 and n >20 :
    print('Not Weird')

3)Arithmetic Operators

In [ ]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

4)Python Division

In [ ]:
a = int(input())
b = int(input())
div1 = int(a / b)
print(div1)
div2 = float(a / b)
print(div2)

5)LOOPS

In [ ]:
n = int(input())
for i in range(n):
    print(i*i)

6)write a function

In [2]:
def is_leap(year):
    leap = False

    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0 :
        return True
    else :
        return False
    return leap

year = int(input())
print(is_leap(year))

1985
False

7)print a function

In [ ]:
n = int(input())

for i in range (1 , n+1) :
     print(i,end='')

8) list comprehensions

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
array = []
for i in range(x+1):
    for j in range(y+1):
      for k in range(z+1):
        if (i+j+k != n):
             array.append([i,j,k])

print(array)

9) runner-up score

In [ ]:
n = int(input())
arr = map(int, input().split())
li = list(arr)
x =sorted(li)
max_v = max(x)
li.remove(max(x))
li.remove(max(x))
print(li[-1])

10)finding the percentage

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
query_name = input()
if query_name in student_marks:
    results =sum(student_marks[query_name]) / len(student_marks[query_name])
print("{:.2f}".format(results))

11)nested lists

In [ ]:
if __name__ == '__main__':
    students_scores =[]
for _ in range(int(input())):
        name = input()
        score = float(input())
        students_scores.append([name, score])
find_score =[x[1]for x in students_scores]
sort_score = sorted(set(find_score))
find_name = [y[0] for y in students_scores if (sort_score[1] == y[1])]
sort_name = sorted(find_name)
for z in sort_name:
    print(z)